<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> kryptoflask </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">  
    </head>
    <body id="body" onresize="body_width()">
            
            
        {% include 'nav.html' %}
            <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
            <div class="w3-main" style="margin-left:300px;">
            <div id="myTop" class="w3-container w3-top w3-theme w3-large w3-hide-large w3-white w3-card">
                <p><i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge" onclick="w3_open()"></i>
                <span id="myIntro" class="w3-cinzel w3-xlarge" ><b>Krypt0manc&r</b> </span></p>
            </div>
            {% block content %}
            {% endblock %}
            </div>
            <p id="teste">teste</p>
            </body>

    </body>

    <script>
    
    
     function body_width(){
         var width = document.getElementById("body").offsetWidth;
         document.getElementById("teste").innerHTML = width;          
     }
    
    </script>
</html>