{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-content w3-padding-64">
  <h2 class="w3-cinzel w3-padding-16"> <b>Calculate cryptographic hash functions</b> </h2>
  <hr>

  <div class="w3-left">
  <span class="w3-cinzel">Upload a file</span>
  <br>
  <br>

  
  <form method=post action="/digester/" enctype=multipart/form-data>
    <input class="w3-dark-grey w3-round w3-cinzel" type=file name=file>
    <input class="w3-dark-grey w3-round w3-cinzel" type=submit value=Upload>

    
    <br>
      <hr>

    <select multiple type="file" class="w3-select" size="10" name="selected_files" enctype="multipart/form-data">
      <option class="w3-list w3-center" disabled name="selected_files">Untouched Files</option> 
      {% for item in listdir.untouched  %}
        <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
      {% endfor %}
      <option class="w3-list w3-center" disabled name="selected_files">Encrypted Files</option> 
      {% for item in listdir.encrypted  %}
        <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
      {% endfor %}
      <option class="w3-list w3-center" disabled name="selected_files">Decrypted Files</option>
      {% for item in listdir.decrypted  %}
        <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
      {% endfor %} 
    </select>

    <span class="w3-cinzel">Select the desired cryptographic hash function</span>
    
    <select class="w3-cinzel" name="selected_cipher">
        <option disabled >Hash function</option>
        <option  value="sha1" >SHA1</option>
        <option  value="sha256" >SHA256</option>
        <option  value="sha512" >SHA512</option>
        <option  value="md5" >MD5</option>
        <option  value="sm3" >SM3</option>
        <option  value="blake2s256">BLAKE2S256</option>
    </select>

    

    <input class="w3-dark-grey w3-round w3-cinzel" formaction="/digest_file/" type="submit" value="Digest Selected">   
  </form>

  <table class="w3-table w3-left w3-bordered">
  <tr class="w3-round w3-cinzel w3-large">
    <th>Filename</th>
    <th>Digest</th> 
  </tr>
  {% for item in digest_info  %}
    <tr>
      <td> {{ item.filename }}</td>
      <td> {{ item.hash }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

</div>
  

{% endblock %}