{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-left">
  <h2 class="w3"> File Encryption </h2>
  <hr>
  <div class="w3-container">
    <h3 class="w3">Upload a file</h3>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <hr>
    <div class="w3-panel w3-left">
      <h3 class="w3">Uploaded files</h3>
      <form id="files" action="/crypter/" method="POST">
        <select type="file" class="w3-select w3-border" size="10" name="selected_files" enctype="multipart/form-data">
          {% for item in listdir  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span></option> 
          {% endfor %}
        </select>
        <br>
        <input class="w3-btn w3-black w3-hover-white" type="submit" value="Encrypt Selected">
        <input class="w3-btn w3-black w3-hover-white" type="submit" value="Encrypt All">
      </form>
    </div>
    <div class="w3-panel w3-right">
      <h3 class="w3">Encrypted Files (WIP)</h3>
      <form id="files" action="/crypter/" method="POST">
        <select type="file" class="w3-select w3-border" size="10" name="selected_files" enctype="multipart/form-data">
          {% for item in enc_files  %}
            <option value="{{item}}" name="selected_files">{{ item }}</option>
          {% endfor %}
        </select>
        <br>
        <input class="w3-btn w3-black w3-hover-white" type="submit" value="Decrypt Selected">
        <input class="w3-btn w3-black w3-hover-white" type="submit" value="Decrypt All (adventurous, huh?)">
      </form>
    </div>
    <div class="w3-container w3-center">
      <p class="w3">By clicking below a random Key and IV will be generated to encrypt the file. <br>
            For advanced options look on the right panel.</p><br>
      <div class="w3-panel">
        <a href="{{ url_for('routes.encrypt') }}" class="w3-btn w3-dark-grey">Encrypt</a>
      </div>
  </div>
  </div>
</div>

<div class="w3-container w3-right">
  <div class="w3-container">  
    <h2 class="w3">Advanced Options</h2>
  </div>
  <hr>
  <div class="w3-container">
    <input class="w3-check" type="checkbox">
    <label>Base64 Encoding</label>
    <br>
    <input class="w3-check" type="checkbox">
    <label>Use PBKDF2</label>
    <hr>
  </div>
  <div class="w3-dropdown-hover w3-container">
    <select class="w3-select">
      <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
        <option disabled selected value=""  class="w3-bar-item w3-select">Ciphers</option>
        <option  value="" class="w3-bar-item w3-select">AES-128-CBC</option>
        <option  value="" class="w3-bar-item w3-select">AES-256-CBC</option>
        <option  value="" class="w3-bar-item w3-select">AES-512-CBC</option>
      </div>
    </select>
  </div>
</div>
    

{% endblock %}