{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content">
    <h2 class="w3-cinzel"> HMAC Calculator </h2>
    <hr>

    <span class="w3-cinzel">Upload your files</span>
    <br>
    <br>
    

    <input class="w3-dark-grey w3-round w3-cinzel" type=file name=file>
    <input class="w3-dark-grey w3-round w3-cinzel" type=submit value=Upload>
    <br>
    <hr>

    <form class="example" action="/gen_rsa" name="generate" method=post>
        <select multiple type="file" class="w3-select w3-border" size="10" name="selected_files" enctype="multipart/form-data">
            <option class="w3-list w3-center" disabled name="selected_files">Secrets</option> 
            {% for item in listdir.sk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
            <option class="w3-list w3-center" disabled name="selected_files">Public</option> 
            {% for item in listdir.pk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
        </select>
        <button type="submit" value='Generate Key' class=" w3-dark-grey w3-round w3-cinzel">Generate HMAC</button>
        <button type="submit" value='Extract PK' class=" w3-dark-grey w3-round w3-cinzel">TBD</button>
        <br>
        <br>

        <label class="w3-cinzel">HMAC Key</label>
        <input  name="encryption_iv" type="text">
    </form>

    <table class="w3-table w3-left w3-bordered">
    <tr class="w3-round w3-cinzel w3-large">
        <th>Filename</th>
        <th>HMAC</th> 
    </tr>
    {% for item in digest_info  %}
        <tr>
        <td> {{ item.filename }}</td>
        <td> {{ item.hmac }}</td>
        </tr>
    {% endfor %}
    </table>
</div>


<script>
function clipboard(element_name) {
    if(element_name == '0'){
        console.log('iv');
        var copyText = document.getElementById("span_iv");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard.";
    }else{

        console.log('key');
        var copyText = document.getElementById("span_key");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard";
    }
  
}


function outFunc(element_name) {
    if(element_name == '0'){
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }else{
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
}

function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
}
</script>
{% endblock %}