{% extends 'base.html' %}

{% block content %}

<div class="w3-container">
  <div class="w3-container w3-left">
    <h1 class="w3">Greetings adventurer,</h2>
    <hr>
    <p class="w3">I'm an OpenSSL wizard, 
    To prevent newcomers like you from getting an arrow to the knee 'n these arts of Cryptography, I make it simple 'n easy.<br>
    The idea is to do things for you while explaining you what sort of dark magic is happening. <br>
      See you soon!</p>
  </div>
  <div class="w3-panel w3-right">
    <img src="../static/wizard.gif"> </img>
  </div>
</div>

{% endblock %}

