{% extends 'base.html' %}

{% block content %}

<div class="w3-center">
  <div class="w3-container w3-display-topmiddle">
    <p class="w3-middle w3-cinzel w3-xxlarge">Greetings adventurer,</p>
    <hr class="w3-black">
    <p class="w3-cinzel w3-middle w3-large">I'm an OpenSSL wizard, 
    To prevent newcomers like you from getting an arrow to the knee 'n these arts of Cryptography, I make it simple 'n easy.<br>
    The idea is to do things for you while explaining you what sort of dark magic is happening. <br>
      See you soon!</p>
  </div>
  <div class="w3-display-middle w3-container w3-image">
    <img src="../static/wizard.gif" class=" "> </img>
  </div>
</div>

{% endblock %}

