{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content w3-padding-64">
    <h2 class=" w3-cinzel w3-xxlarge w3-padding-16-per"><b>Greetings apprentice,</b></h2>
    <hr class="w3-black">
    <p class="w3-cinzel w3-middle w3-xlarge">Welcome to <b>Kryptomancer</b>, the forge of secrets. </p> 
    <p class="w3-cinzel w3-middle w3-large">This <b>OpenSSL Wizad</b> will help you deploying<br>
      cryptographic functions in a fast and easy way.

      <ul class="w3-cinzel w3-middle">
        <li><b>Generate pseudo-random keys</b></li>
        <li><b>Encrypt and decrypt files</b></li>
        <li><b>Calculate cryptographic hash functions</b></li>
        <li><b>Calculate hash-based message authentication codes</b></li>
        <li><b>Generate RSA secret and public key pairs</b></li>
        <li><b>Sign and verify RSA digital signatures</b></li>
      </ul>
    </p>

    <div class="w3-panel w3-leftbar w3-sand">
        <p class=" w3-cinzel w3-small"><b><i>"Now you have my Oghma Infinium. It contains the knowledge of the ages (...), my loyal servant.<br>
        For hundreds of years it's been shut away from the world.(...)
        Now it is in your hands. <br> Let us work wonders together.."</i></p>
        <p class="w3-cinzel">Hermaeus Mora</p></b>
      </div> 
  
</div>

{% endblock %}

