{% extends 'base.html' %}

{% block content %}

<div class="item content content-1">
    <a href="{{ url_for('routes.generate') }}" class="w3-btn w3-indigo">Generate Password</a>
</div>

<div class="item content content-4">
   <p>
    <br> <button id="iv_out_tooltip" onclick="clipboard(iv)" onmouseout="outFunc" class="w3-btn w3-indigo">IV</button>
    <input disabled placeholder="{{ data.iv }}" id="iv_out"></input>
   <br><br>
   <br> <button id="key_out_tooltip"onclick="clipboard(key)" onmouseout="outFunc" class="w3-btn w3-indigo">Key</button>
    <input disabled placeholder="{{ data.key }}"id="key_out"></input>
   </p>
</div>

<script>
function clipboard(element_name) {
    if(element_name == 'iv'){
        var copyText = document.getElementById("iv_out");
        copyText.select();
        document.execCommand("copy");
        
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }else{
        var copyText = document.getElementById("key_out");
        copyText.select();
        document.execCommand("copy");
        
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }
  
}

function outFunc(element_name) {
    if(element_name == 'iv'){
        var tooltip = document.getElementById("iv_out");
        tooltip.innerHTML = "Copy to clipboard";
    }else{
        var tooltip = document.getElementById("key_out");
        tooltip.innerHTML = "Copy to clipboard";
    }
}
</script>
{% endblock %}