{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content w3-padding-64">
    <h2 class="w3-cinzel w3-padding-16"> <b>Generate pseudo-random Keys</b> </h2>
    <hr>

    <span class="w3-cinzel">Insert your desired key length size</span>
    <br>
    <br>

    <form class="example" action="/generate" name="generate" method=post>
        <input type="text" placeholder="KeySize(B)" name="size">
        <label class=" w3-cinzel">
        <input class="w3-check" name="base64_encoding" type="checkbox">
        Base64</label>
        <br>
        <button type="submit" value='Generate Key' class="w3-dark-grey w3-round w3-cinzel">Generate</button>
        <hr>
        <span class="w3-cinzel">For AES Encryption</span>
        <a href="{{ url_for('routes.generate', bits=128) }}" class="w3-btn w3-dark-grey w3-round w3-cinzel">128 bits</a>
        <a href="{{ url_for('routes.generate', bits=192) }}" class="w3-btn w3-dark-grey w3-round w3-cinzel">192 bits</a>
        <a href="{{ url_for('routes.generate', bits=256) }}" class="w3-btn w3-dark-grey w3-round w3-cinzel">256 bits</a>
        <br>
        <br>
        <span class="w3-cinzel">For 3DES Encryption</span>
        <a href="{{ url_for('routes.generate', bits=192) }}" class="w3-btn w3-dark-grey w3-round w3-cinzel">192 bits</a>
        <hr>
    </form>

    <div class="w3-container w3-row-cell w3-margin-top">
    <h2 class="w3-cinzel w3-cell">Key: </h2>
    <p id="span_key" class="w3-cell word-wrapper">{{ data.key }}</p>
    </div>
    <button id="key_out_tooltip"onclick="clipboard(1)" onmouseout="outFunc(1)" class="w3-dark-grey w3-round w3-cinzel">Copy to clipboard</button>

    {% if data.iv %}
    <div class="w3-container w3-row-cell">
    <h2 class="w3-cinzel w3-cell">IV: </h2>           
    <p id="span_iv" class="word-wrapper w3-cell">{{ data.iv }}</p>
    </div>
    <button id="iv_out_tooltip" onclick="clipboard(0)" onmouseout="outFunc(0)" class="w3-dark-grey w3-round w3-cinzel">Copy to clipboard</button>
    <br>             
    {% endif %}  

</div>


<script>
function clipboard(element_name) {
    if(element_name == '0'){
        console.log('iv');
        var copyText = document.getElementById("span_iv");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard.";
    }else{

        console.log('key');
        var copyText = document.getElementById("span_key");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard";
    }
  
}


function outFunc(element_name) {
    if(element_name == '0'){
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }else{
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
}

function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
}
</script>
{% endblock %}