{% extends 'base.html' %}

{% block content %}
<div class="w3-panel">
    <h2> Password Generator </h2>
</div>
<div class="w3-container">
    <a href="{{ url_for('routes.generate') }}" class="w3-btn w3-teal">Generate Password</a>
</div>

<div class="w3-container">
<p>
    <br> <button id="iv_out_tooltip" onclick="clipboard(iv)" onmouseout="outFunc" class="w3-btn w3-teal">IV</button>
    <span placeholder="IV will be displayed here" id="iv_out">{{ data.iv }}</span>
<br><br>
<br> <button id="key_out_tooltip"onclick="clipboard(key)" onmouseout="outFunc" class="w3-btn w3-teal">Key</button>
    <span placeholder="Key will be displayed here"id="key_out">{{ data.key }}</span>
</p>
</div>

<script>
function clipboard(element_name) {
    if(element_name == 'iv'){
        var copyText = document.getElementById("iv_out");
        copyText.select();
        document.execCommand("copy");
        
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }else{
        var copyText = document.getElementById("key_out");
        copyText.select();
        document.execCommand("copy");
        
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }
  
}

function outFunc(element_name) {
    if(element_name == 'iv'){
        var tooltip = document.getElementById("iv_out");
        tooltip.innerHTML = "Copy to clipboard";
    }else{
        var tooltip = document.getElementById("key_out");
        tooltip.innerHTML = "Copy to clipboard";
    }
}
</script>
{% endblock %}