{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content w3-padding-64">
    <h2 class="w3-cinzel w3-padding-16-per"> <b> RSA SK/PK Generator </b></h2>
    <button class="collapsible">Click me to have a tip!</button>
    <div class="content">
            <span>This area is reserved to the generation of RSA public and secret key pairs. <b>To generate a pair of RSA keys</b> just:
                <br> 
                <ul class="w3-middle">
                    <li><b>Provide a name for your keys;</b></li>
                    <li><b>Click on generate rsa;</b></li>
                </ul>
                RSA secret and public keys are widely used on modern cryptography.
                A pair of keys are mathematically bounded in a way that if you encrypt something with the public key, only the owner of the respective private key can decrypt.
                RSA keyes are used to encrypt connections over the web, and create digital signatures.
                Remember to ALWAYS keep your secret key in true secret. Is The only way to not compromise de system.
                The public key, instead, you can give it to everyone you want. The ones who have it, will be able to encrypt files only for you and verify your digital signatures.
            </span>
    </div>
    <hr>

    <span class="w3-cinzel w3-xlarge">Provide a <b>name</b> to identify your key pair</span>
    <br>
    <br>


    <form class="example" action="/gen_rsa" name="generate" method=post>
        <label class="w3-cinzel">SK File</label>
        <input  name="sk_file" type="text">
        <br>
        <hr>
        <select multiple type="file" class="w3-select " size="10" name="rsagen_selected_files" enctype="multipart/form-data">
            <option class="w3-list w3-center" disabled name="selected_files">Secrets</option> 
            {% for item in listdir.sk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
            <option class="w3-list w3-center" disabled name="selected_files">Public</option> 
            {% for item in listdir.pk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
        </select>
        <button type="submit" value='Generate Key' class=" w3-dark-grey w3-round w3-cinzel">Generate RSA</button>
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/view_key" type="submit" value="View Selected Key">
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/delete_file/" type="submit" value="Delete Selected">
    </form>
    <br>
    
    <br>
    {% for item in rsa_data  %}
        {% if item.sk %}
            <div class="w3-container w3-row-cell w3-margin-top">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">SK: </h2>
            <p id="{{item.filename}}" class="w3-cell word-wrapper">{{ item.sk }}</p>
            <button id="copy_{{item.filename}}" onclick="digest_clip({{item|safe}})" onmouseout="outFunc({{item|safe}})" class="w3-dark-grey w3-round w3-cinzel">Copy.</button>
            </div>
        {% endif %}
        {% if item.pk %}
            <div class="w3-container w3-row-cell">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">PK: </h2>           
            <p id="{{item.filename}}" class="word-wrapper w3-cell">{{ item.pk }}</p>
            <button id="copy_{{item.filename}}" onclick="digest_clip({{item|safe}})" onmouseout="outFunc({{item|safe}})" class="w3-dark-grey w3-round w3-cinzel">Copy.</button>
            </div>           
        {% endif %}  
    {% endfor %}

</div>


<script>
function digest_clip(element) {
    var copyText = document.getElementById(element.filename);
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
    var tooltip = document.getElementById("copy_"+element.filename);
    tooltip.innerHTML = "Copied to clipboard.";
}
function outFunc(element) {
    var tooltip = document.getElementById("copy_"+element.filename);
    tooltip.innerHTML = "Copy.";
}
function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
}
</script>
{% endblock %}