{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content w3-padding-64">
    <h2 class="w3-cinzel w3-padding-16"> <b> RSA SK/PK Generator </b></h2>
    <button class="collapsible">Click me to have a tip!</button>
    <div class="content">
        <p>Click me to have a tip!</p>
    </div>
    <hr>

    <span class="w3-cinzel w3-xlarge">Provide a <b>name</b> to be used as the name for the Secret Key file.<br> The Public Key file will always be associated with the Secret Key file.</span>
    <br>

    <form class="example" action="/gen_rsa" name="generate" method=post>
        <label class="w3-cinzel">SK File</label>
        <input  name="sk_file" type="text">
        <br>
        <br>
        <select multiple type="file" class="w3-select w3-border" size="10" name="selected_files" enctype="multipart/form-data">
            <option class="w3-list w3-center" disabled name="selected_files">Secrets</option> 
            {% for item in listdir.sk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
            <option class="w3-list w3-center" disabled name="selected_files">Public</option> 
            {% for item in listdir.pk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
        </select>
        <button type="submit" value='Generate Key' class=" w3-dark-grey w3-round w3-cinzel">Generate RSA</button>
        <button type="submit" value='Extract PK' class=" w3-dark-grey w3-round w3-cinzel">Extract Public Key</button>
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/view_key" type="submit" value="View Selected Key">
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/delete_file/" type="submit" value="Delete Selected">
    </form>
    <br>
    <hr>
    <br>
    {% for item in rsa_data  %}
        {% if item.sk %}
            <div class="w3-container w3-row-cell w3-margin-top">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">SK: </h2>
            <p id="{{item.filename}}" class="w3-cell word-wrapper">{{ item.sk }}</p>
            <button id="copy_{{item.filename}}" onclick="digest_clip({{item|safe}})" onmouseout="outFunc({{item|safe}})" class="w3-dark-grey w3-round w3-cinzel">Copy.</button>
            </div>
        {% endif %}
        {% if item.pk %}
            <div class="w3-container w3-row-cell">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">PK: </h2>           
            <p id="{{item.filename}}" class="word-wrapper w3-cell">{{ item.pk }}</p>
            <button id="copy_{{item.filename}}" onclick="digest_clip({{item|safe}})" onmouseout="outFunc({{item|safe}})" class="w3-dark-grey w3-round w3-cinzel">Copy.</button>
            </div>           
        {% endif %}  
    {% endfor %}

</div>


<script>
function digest_clip(element) {
    var copyText = document.getElementById(element.filename);
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
    var tooltip = document.getElementById("copy_"+element.filename);
    tooltip.innerHTML = "Copied to clipboard.";
}
function outFunc(element) {
    var tooltip = document.getElementById("copy_"+element.filename);
    tooltip.innerHTML = "Copy.";
}
function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
}
</script>
{% endblock %}