{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-content w3-padding-64">
    <h2 class="w3-cinzel w3-padding-16"> <b> Encrypt and Decrypt Files with RSA Key Pairs</b></h2>

            <button class="collapsible">Click me to have a tip!</button>
            <div class="content">
                    <span>This area is reserved to the encryption and decryption of files using a RSA public keys. Note that this method is best used along with symmetric key encryption like AES, to do that, read below:
                            <br>
                        <ul class="w3-middle">
                                <li><b>Generate keys for symmetric encryption and place them inside a file;</b></li>
                                <li><b>Encrypt the file with the symmetric keys you generated in the step before;</b></li>
                                <li><b>Encrypt the file with the symmetric keys using the RSA public key of the person you want to send the file to;</b></li>
                                <li><b>Delete the unencrypted file containing the symmetric keys so no one finds them;</b></li>
                                <li><b>Then you send the file encrypted with the symmetric keys and the file encrypted with the RSA public key to the person who has the private key;</b></li>
                            </ul>
                    </span>
            </div>
    <hr>

    <form class="example" action="/rsa_crypter" name="rsa_crypter" method=post enctype="multipart/form-data">
        <span class="w3-cinzel w3-xlarge "><b>Upload</b> your files</span>
        <br>
        <br>
        

        <input class="w3-dark-grey w3-round w3-cinzel" type=file name=file>
        <input class="w3-dark-grey w3-round w3-cinzel" type=submit value=Upload>
        <hr>
        <select multiple type="file" class="w3-select" size="10" name="rsa_uploaded_files" enctype="multipart/form-data">
          <option class="w3-list w3-center" disabled name="uploaded_files">Untouched Files</option> 
          {% for item in listdir.untouched  %}
            <option class="w3-list" value="{{item}}" name="uploaded_files">{{ item }} </option> 
          {% endfor %}
          <option class="w3-list w3-center" disabled name="uploaded_files">Encrypted Files</option> 
          {% for item in listdir.encrypted  %}
            <option class="w3-list" value="{{item}}" name="uploaded_files">{{ item }} </option> 
          {% endfor %}
          <option class="w3-list w3-center" disabled name="uploaded_files">Decrypted Files</option>
          {% for item in listdir.decrypted  %}
            <option class="w3-list" value="{{item}}" name="uploaded_files">{{ item }} </option> 
          {% endfor %}
           <option class="w3-list w3-center" disabled name="uploaded_files">Signature Files</option> 
          {% for item in listdir.signed  %}
            <option class="w3-list" value="{{item}}" name="uploaded_files">{{ item }} </option> 
          {% endfor %}
        </select>
        <select multiple type="file" class="w3-select" size="10" name="rsa_selected_files" enctype="multipart/form-data">
            <option class="w3-list w3-center" disabled name="selected_files">Secrets</option> 
            {% for item in listdir.sk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
            <option class="w3-list w3-center" disabled name="selected_files">Public</option> 
            {% for item in listdir.pk  %}
            <option class="w3-list" value="{{item}}" name="selected_files">{{ item }} </option> 
            {% endfor %}
        </select>
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/rsa_encrypt/" type="submit" value="Encrypt File">
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/rsa_decrypt/" type="submit" value="Decrypt File">  
        <input class="w3-dark-grey w3-round w3-cinzel" formaction="/delete_file/" type="submit" value="Delete Selected">
    </form>
    {% for item in data  %}
        {% if item.ok %}
            <div class="w3-container w3-row-cell w3-margin-top">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">Encryption File: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.encryption_file }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">Signature: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.ok }}</p>
            </div>
        {% endif %}
        {% if item.error %}
            <div class="w3-container w3-row-cell w3-margin-top">
            <h2 class="w3-cinzel w3-cell">Filename: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.filename }}</p>
            <br>
            <h2 class="w3-cinzel w3-cell">Signature: </h2>
            <p id="" class="w3-cell word-wrapper">{{ item.error }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


<script>
function clipboard(element_name) {
    if(element_name == '0'){
        console.log('iv');
        var copyText = document.getElementById("span_iv");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard.";
    }else{

        console.log('key');
        var copyText = document.getElementById("span_key");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copied to clipboard";
    }
  
}


function outFunc(element_name) {
    if(element_name == '0'){
        var tooltip = document.getElementById("iv_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }else{
        var tooltip = document.getElementById("key_out_tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
}

function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
}
</script>
{% endblock %}